body, #root {
  width: 100%;
  height: 100%;
}

%medium-drop-area {
  --n-hegiht: 34px;
  --n-width: 64px;
  min-height: var(--n-hegiht);
  border-style: dashed;
  border-width: 1px;
  box-sizing: border-box;

  &:hover {
    background-color: rgba(0, 128, 0, 0.12);
  }
}

.renderer-drop.draggable-emphasized {
  @extend %medium-drop-area;
}