body, #root {
  width: 100%;
  height: 100%;
}

%medium-drop-area {
  --n-hegiht: 34px;
  --n-width: 64px;
  min-height: var(--n-hegiht);
  border-style: dashed;
  border-width: 1px;
  box-sizing: border-box;
  border-color: grey;

  &:hover {
    background-color: rgba(0, 128, 0, 0.12);
  }
}

.renderer-drop {
  position: relative;
  --n-hegiht: 34px;
  min-height: var(--n-hegiht);
}

.placeholder-width {
  min-width: var(--n-width);
}

// 拖动容器占位 仅处理高度
.draggable-placeholder {
  @extend %medium-drop-area;
}

.draggable-emphasized {
  &::after {
    content: "";
    position: absolute;
    border-color: green;
    top: var(--observe-top);
    left: var(--observe-left);
    width: var(--observe-width);
    height: var(--observe-height);
    border-style: dashed;
    border-width: 2px;
    z-index: 10;
    pointer-events: none;
    box-sizing: border-box;
  }
}